.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
pytest-cache-files-*/
.test-temp/
.mypy_cache/
.ruff_cache/
*.egg-info/
.coverage
htmlcov/
cache/
data/graph/**
data/traffic/*
data/benchmark/*
models/*
!data/graph/.gitkeep
!data/**/.gitkeep
!models/.gitkeep
